/* body
{
background: #1f9f7c;
}

#all{
  display: inline-flex;
  display: block;
  padding: 10%;
  
}

#user:hover{
  border: 1px solid orangered;
}

img{
  height: auto;
  width: 100%;

}

.card:hover{
  border:2px solid  orangered;
}
#mar{
  margin-right: 5%;
  margin-left: 10%;
}
/* my code end */

/* .List
{
  width: 75%;
  padding: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
  list-style-type: none;
} */


/* .ListItemWrapper
{
  padding: 16px;
  border: 3px solid yellow;
  border-radius: 10px;
  background: #393939;
  position: relative;
  cursor: pointer;
  transform: scale(1);
}

.ListLink
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */