#all{
    display: inline-flex;
}
.cardbody{
    text-align: left;
    display: block;
    /* background-color: rgb(235, 212, 212); */
    border-left: 2px solid orangered;
    height: 40%;
}
.card{
    height: 90%;
    margin-bottom: 1%;
    margin-top: 5%;
}
.img{
    height: auto;
    width: 100%;

}

.card:hover{
    border:2px solid  orangered;
}
#nav-i{
    float: left;
    color: white;
}
#nav-i:hover{
    /* background-color: white; */
    font-style: oblique;
    background-color: rgb(0,0,0,0.5);
}
#mar{
    margin-right: 5%;
    margin-left: 10%;
}