
.MainContainer{
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    margin-top: 220px;
    /* background:#e86f6f; */
    background-color: rgba(245, 245, 247, 0.884);
    
} 
.cuisineContainer{
    position: relative;
    left: -275px;
    width: 195%;
    height: 530px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.CategoryCart{
    display: flex;
    width: 150%;
    flex-direction: column;
}

@media screen and (max-width:400px){
    .MainContainer{
        color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        z-index: -1;
        margin-top: 100px;
    }

    .CategoryCart{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
}