.categories{
    /* background-color: blue; */
    display: flex;
    margin-left: 0;
    flex-direction: column;
    width: 23%;
    color: #fd6768;
    font-weight:700;
    height: 530px;
    position: fixed;
    /* overflow-wrap: break-word; */
    background-color:  #ffebe6; /*green*/


}
#heading{
    background-color: #1f9f7c; /*lightwhite*/
    font-size: 20px;
    text-align:center;
    color:black;
}
#listOfCategories{
    line-height:33px;
    padding-top:12px;
}
li{
    text-decoration: none;
    list-style: none;
    justify-content: center;
    color:black; /*lightwhite*/
}
li:hover{
    background-color:#fd6768; 
    color:black;
}
@media screen and (max-width:400px){
    .categories{
        /* background-color: blue; */
        /* display: inline; */
        display: inline-block;
        /* display: contents; */
        color: greenyellow;
        margin-left: 0;
        background-color: palevioletred;
        flex-direction: column;
        width: 30%;
        height: auto;
        /* z-index: 2; */
        /* border: 2px solid black; */
        position: fixed;
    }   
    #categoryButton{
        z-index: 4;
    }
}